# MONGO_URI=mongodb+srv://<db_username>:ANbIpoaNUZCVpcSe@cluster0.jj27rbu.mongodb.net/?appName=Cluster0
MONGO_URI=mongodb+srv://sudhakar881032_db_user:ANbIpoaNUZCVpcSe@cluster0.jj27rbu.mongodb.net/leadgen_crm?appName=Cluster0

PORT=5000
CLIENT_ORIGIN=http://localhost:5173